html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #C2E7FF, #6EA8FE);
  }
  
  .login-box {
    background: #ffffffcb;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
  }
  
  .email-input, .otp-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px; 
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    background: #ffffff; 
    color: #333; 
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .resend-otp {
    color: #3B82F6;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .resend-otp:hover {
    text-decoration: underline;
  }
  
  .next-button {
    width: 40%; 
    padding: 8px; 
    background: #316cb5;
    color: white;
    border: none;
    border-radius: 30px; 
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .next-button:hover {
    background: #275a9e;
  }
  